.container {
  width: 90vw;
  height: 100vw;
  font-family: roboto;
  margin: 0 auto;
  padding-top: 20px;
  color: #fff;
}

.form,
.table {
  margin: 20px auto;
  width: 200px;
}

.form > label {
  display: block;
  margin: 5px auto;
}

.form input {
  width: 90%;
  height: 20px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.table {
  border: none;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  border-collapse: collapse;
}

.table,
th,
td {
  border: 1px solid #fff;
  background-color: #7e4a35;
}

th,
td {
  padding: 5px;
  word-break: break-all;
}

tbody tr {
  cursor: pointer;
}

.button__hidden {
  visibility: hidden;
}

.form .button__active {
  width: 50%;
  height: 30px;
  margin-top: 15px;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
}
